<div class="title-bar">
    <div class="title">
        <img src="https://i.postimg.cc/0yjGZYwP/image.png" alt="Profile" class="logo" />
    </div>
    <div class="icons">
        <span class="material-icons icon">notifications</span>
        <img src="https://i.postimg.cc/tgbrcVpx/0.jpg" alt="Profile" class="icon profile" />
    </div>
</div>
<div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="menu-item" routerLink="/job-list" routerLinkActive="active">
            <i class="icon material-icons">work</i>
            <span>Jobs</span>
        </div>
        <div class="menu-item" routerLink="/candidates" routerLinkActive="active">
            <i class="icon material-icons">group</i>
            <span>Candidates</span>
        </div>
        <div class="menu-item" routerLink="/shortlisted" routerLinkActive="active">
            <i class="icon material-icons">done_all</i>
            <span>Shortlisted Candidates</span>
        </div>
        <div class="menu-item" routerLink="/about" routerLinkActive="active">
            <i class="icon material-icons">info</i>
            <span>About</span>
        </div>
    </div>


    <div class="job-list-container">
        <!-- Header -->
        <div class="header">
            <h2>‎ ‎ ‎ ‎ List of Open Roles</h2>
            <div class="filters">
                <input type="text" placeholder=" 🔎 Search Jobs" />
                <button>Sort by</button>
                <button>Filter by</button>
            </div>
        </div>

        <!-- Job Cards -->
        <div class="job-cards">
            <!-- Job Card 3 -->
            <div class="job-card" [routerLink]="['/job-details-de']">
                <h2 class="ah1">Data Engineer</h2>

                <div class="job-info">
                    <p><strong>Job ID: ‎ </strong> 78322</p>
                    <p><strong>Experience: ‎ </strong> 3 - 5 Years</p>
                    <p><strong>Published On: ‎ </strong> Feb 27 2024, 09:00 AM</p>
                    <p><strong>Location: ‎ </strong> Mumbai, India</p>
                    <div class="tags">
                        <span>Python</span>
                        <span>ETL</span>
                        <span>SQL</span>
                    </div>
                </div>
                <div class="status">
                    <span class="open-status">OPEN</span>
                </div>
            </div>

            <!-- Job Card 2 -->
            <div class="job-card" [routerLink]="['/job-details-sm']">
                <h2 class="ah2">Senior Manager, Growth Portfolio</h2>

                <div class="job-info">
                    <p><strong>Job ID: ‎ </strong> 76429</p>
                    <p><strong>Experience: ‎ </strong> 5 - 7 Years</p>
                    <p><strong>Published On: ‎ </strong> Mar 01 2024, 11:00 AM</p>
                    <p><strong>Location: ‎ </strong> Chicago, USA</p>
                    <div class="tags">
                        <span>Analytics Expertise</span>
                        <span>Business Development</span>
                        <span>Strategic Partnerships</span>
                    </div>
                </div>
                <div class="status">
                    <span class="open-status">OPEN</span>
                </div>
            </div>
            <!-- Job Card 1 -->
            <div class="job-card" [routerLink]="['/job-details']">
                <h2 class="ah3">Software Developer</h2>

                <div class="job-info">
                    <p><strong>Job ID: ‎ </strong> 79343</p>
                    <p><strong>Experience: ‎ </strong> 10 - 12 Years</p>
                    <p><strong>Published On: ‎ </strong> Mar 03 2024, 10:55 AM</p>
                    <p><strong>Location: ‎ </strong> Chennai, India</p>
                    <div class="tags">
                        <span>Angular</span>
                        <span>NodeJS</span>
                        <span>SAP</span>
                    </div>
                </div>
                <div class="status">
                    <span class="open-status">OPEN</span>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <div class="pagination">
            <p>‎ ‎ ‎‎ ‎‎ ‎ ‎ ‎ ‎Page 1 of 23</p>
            <div class="pages">
                <span class="active">1</span>
                <span>2</span>

                <button class="next-btn">Next ></button>
            </div>
        </div>
    </div>
</div>