<div class="title-bar">
    <div class="title">
        <img src="https://i.postimg.cc/0yjGZYwP/image.png" alt="Profile" class="logo" />
    </div>
    <div class="icons">
        <span class="material-icons icon">notifications</span>
        <img src="https://i.postimg.cc/tgbrcVpx/0.jpg" alt="Profile" class="icon profile" />
    </div>
</div>
<div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="menu-item" routerLink="/job-list" routerLinkActive="active">
            <i class="icon material-icons">work</i>
            <span>Jobs</span>
        </div>
        <div class="menu-item" routerLink="/candidates" routerLinkActive="active">
            <i class="icon material-icons">group</i>
            <span>Candidates</span>
        </div>
        <div class="menu-item" routerLink="/shortlisted" routerLinkActive="active">
            <i class="icon material-icons">done_all</i>
            <span>Shortlisted Candidates</span>
        </div>
        <div class="menu-item" routerLink="/about" routerLinkActive="active">
            <i class="icon material-icons">info</i>
            <span>About</span>
        </div>
    </div>
</div>